<% if !@sub_module.blank? %>
	<h1>Editar Sub Modulo</h1>
<% else %>
	<h1>Crear Sub Modulo</h1>
<% end %>

<%= form_tag({:controller => "admin", :action => "insert_sub_module"},:method => "post", :multipart => true, :class =>'') do |f| %>
	<input type="hidden" name="id" value="<%= !@sub_module.blank? ?  @sub_module.id : '' %>">
	<input type="hidden" name="module_page_id" value="<%=@module_page_id %>">

	<label>Nombre del Modulo</label>
	<input type="text" name="sub_module_name" required="" value="<%= !@sub_module.blank? ?  @sub_module.sub_module_name : '' %>">
	<br>

	<label>Descripcion Corta</label>
	<textarea name="description"   <% if @sub_module.blank? %> required="" <% end %> ><%= !@sub_module.blank? ?  @sub_module.description : '' %></textarea>
	<br>

	<label>Archivo Pdf</label>
	<input type="file" name="file_pdf" <% if @sub_module.blank? %>  <% end %> >
	<br>

	<label>Link</label>
		<input type="text" name="link"  value="<%= !@sub_module.blank? ?  @sub_module.link : '' %>">
		<% if !@sub_module.blank? %>
		   	<% if  @sub_module.link.include? 'youtu'%>
		   		<% link = @sub_module.link.split('/') %>
	  				<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=link[-1]%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  			<% end %>

  			<% if  @sub_module.link.include? 'soundcloud'%>
  					<iframe width="100%" height="95" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%=@sub_module.link%>&color=%23dd9781&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
  			<% end %>
  			
		<% end %>
	<br>
	<label>Link 2</label>
		<input type="text" name="link_2"  value="<%= !@sub_module.blank? ?  @sub_module.link_2 : '' %>">
		<% if !@sub_module.blank? %>
		   	<% if  @sub_module.link_2.include? 'youtu'%>
		   		<% link_2 = @sub_module.link_2.split('/') %>
	  				<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=link_2[-1]%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  			<% end %>

  			<% if  @sub_module.link_2.include? 'soundcloud'%>
  					<iframe width="100%" height="95" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%=@sub_module.link_2%>&color=%23dd9781&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
  			<% end %>
  			
		<% end %>

	<br>

	<%if !@dependences.blank?%>
		<label>Dependen de:</label>
		<% @dependences.each do |data|%>
			<input type="checkbox" name="dependences[]" <% if @dependences_id.include?  data['id'] %>	checked="" <%end%> value="<%=data['id']%>"><%=data['sub_module_name']%></label><br>
		<% end%>
	<% end %>
	<label>Orden</label>
	<input type="text" name="order_sub" required="" value="<%= !@sub_module.blank? ?  @sub_module.order_sub : '' %>">
	<br>
	<label>Imagen Submodulo (Tamaño 496 x 279 px)</label>
	<input type="file" name="image_min" <% if @sub_module.blank? %> required="" <% end %> >
	<% if !@sub_module.blank? %>
		<img src="<%=@sub_module.image_min %>" width="100" height="100"> 
	<% end %>
	<br>
	<label>Contenido</label>
	<textarea name="content" id="editor"  <% if @sub_module.blank? %> required="" <% end %> ><%= !@sub_module.blank? ?  @sub_module.content : '' %></textarea>
	<input type="submit" value="Guardar">


<%end%>