<% if !@sub_module.blank? %>
	<h1 class="text-center text-dark-orange text-uppercase">Editar Sub Modulo</h1>
	<div class="container br-register"></div>
<% else %>
	<h1 class="text-center text-dark-orange text-uppercase">Crear Sub Modulo</h1>
	<div class="container br-register"></div>
<% end %>

<%= form_tag({:controller => "admin", :action => "insert_sub_module"},:method => "post", :multipart => true, :class =>'') do |f| %>
	
	<div class="container">
		<input type="hidden" name="id" value="<%= !@sub_module.blank? ?  @sub_module.id : '' %>">
		<input type="hidden" name="module_page_id" value="<%=@module_page_id %>">

		<div class="row">
			<div class="col">
				<label>Nombre del Modulo</label>
				<input type="text" class="form-control" name="sub_module_name" required="" value="<%= !@sub_module.blank? ?  @sub_module.sub_module_name : '' %>">
			</div>
			<div class="col">
				<label>Descripción Corta</label>
				<textarea name="description" class="form-control"  <% if @sub_module.blank? %> required="" <% end %> ><%= !@sub_module.blank? ?  @sub_module.description : '' %></textarea>
			</div>
		</div>

		<div class="row mt-3">
			<div class="col">
				<label>Archivo Pdf</label>
				<input type="file" class="form-control" name="file_pdf" <% if @sub_module.blank? %>  <% end %> >
			</div>
			<div class="col">
			<label>Link</label>
				<input type="text" name="link"  class="form-control"   value="<%= !@sub_module.blank? ?  @sub_module.link : '' %>">
				<% if !@sub_module.blank? %>
					<% if  @sub_module.link.include? 'youtu'%>
						<% link = @sub_module.link.split('/') %>
							<iframe width="560" height="315" src="https://www.youtube.com/embed/<%=link[-1]%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<% end %>

					<% if  @sub_module.link.include? 'soundcloud'%>
							<iframe width="100%" height="95" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%=@sub_module.link%>&color=%23dd9781&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
					<% end %>
					
				<% end %>
			</div>
		</div>		

		<div class="row mt-3">
			<div class="col">
				<label>Link 2</label>
				<input type="text" name="link_2" class="form-control"  value="<%= !@sub_module.blank? ?  @sub_module.link_2 : '' %>">
				<% if !@sub_module.blank? %>
					<%if !@sub_module.link_2.blank? %>
						<% if  @sub_module.link_2.include? 'youtu'%>
							<% link_2 = @sub_module.link_2.split('/') %>
								<iframe width="460" height="215" src="https://www.youtube.com/embed/<%=link_2[-1]%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<% end %>

						<% if  @sub_module.link_2.include? 'soundcloud'%>
								<iframe width="100%" height="95" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=<%=@sub_module.link_2%>&color=%23dd9781&auto_play=false&hide_related=false&show_comments=false&show_user=true&show_reposts=false&show_teaser=false"></iframe>
						<% end %>
					<% end %>
				<% end %>
			</div>
			<div class="col">
			<%if !@dependences.blank?%>
				<label>Dependen de:</label>
				<% @dependences.each do |data|%>
					<input type="checkbox" class="form-check-input" name="dependences[]" <% if @dependences_id.include?  data['id'] %>	checked="" <%end%> value="<%=data['id']%>"><%=data['sub_module_name']%></label>
				<% end%>
			<% end %>


			</div>
		</div>	
		<div class="row mt-3">
			<div class="col">
				<label>Orden</label>
				<select name="order" id="order" class="form-control">
					<% cont = 1%>
					<% cont_selected = @total_sub%>
					<% if !@sub_module.blank?%>
						<% cont_selected = @sub_module.order_sub %>
					<% end %>
					<% while cont<=@total_sub.to_i%>
						<option value="<%=cont%>" <% if cont_selected==cont %> selected <%end%> ><%=cont%></option>
						<% cont = cont+1 %>
					<% end %>
				</select>
			</div>
			<div class="col">
			<label>Imagen Submodulo (Tamaño 496 x 279 px)</label>
			<input type="file" class="form-control" name="image_min" <% if @sub_module.blank? %> required="" <% end %> >
			<% if !@sub_module.blank? %>
				<img src="<%=@sub_module.image_min %>" width="100" height="100"> 
			<% end %>
			</div>
		</div>

	<div class="row mt-3">
			<div class="col">
			<label>Contenido</label>
			<textarea name="content" id="editor"  <% if @sub_module.blank? %> required="" <% end %> ><%= !@sub_module.blank? ?  @sub_module.content : '' %></textarea>
		</div>
	</div>
	
	<div class="d-flex justify-content-center mt-3 mb-5">
        <input type="submit" value="Guardar" class="btn-create">
    </div>


<%end%>