
	<h1>Editar Menu</h1>


<%= form_tag({:controller => "admin", :action => "insert_menu"},:method => "post", :multipart => true, :class =>'') do %>

	<label>Nombre</label>
	<input type="text" name="name_page" required="" value="<%= !@menu_content.blank? ?  @menu_content.name_page : '' %>">
	<br>
    <label>Texto</label>
		<textarea name="texto" id="editor"  <% if @menu_content.blank? %> required="" <% end %> ><%= !@menu_content.blank? ?  @menu_content.texto : '' %></textarea>
	<br>
    <label>Imagen</label>
	<input type="file" name="image" <% if @menu_content.blank? %> required="" <% end %> >
	<% if !@menu_content.blank? %>
		<img src="<%=@menu_content.image %>" width="100" height="100"> 
		<input type="hidden" name="id" value ="<%= @menu_content.id%>" >
	<% end %>
	<br>
    
	<input type="submit" value="Guardar">

<%end%>