<h1>Adminstrador de contenido</h1>

<!-- Mensaje de confirmacion-->
<%=flash[:msg] %>
<!-- End Mensaje de confirmacion-->

<div id="accordion">
	<h3>Banner Home</h3>

	<div>
		<a href="create_home_banner">Crear Banner</a>
		<table border="1">
			 	<thead>
			 		<tr>
			 			<td>Order</td>
			 			<td>Imagen Banner</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<% @home_banners.each do |data| %>
			 		<tr>
			 			<td><%=data['order'] %></td>
			 			<td><img src="<%=data['image'] %>" width="120" height="80"></td>
			 			<td><a href="/admin/create_home_banner/<%=data['id'] %>">Editar</a>/
			 				<a href="/admin/delete_home_banner/<%=data['id'] %>" onclick="return confirm('Desea eliminar este Banner?')">Eliminar</a>
			 			</td>
			 		</tr>
			 		<% end %>
			 	</tbody>
		</table>
	</div>


	<h3>Contactenos</h3>
		<div>
		<% if @contacts.blank?%>
			<a href="create_contact">Crear Contactos</a>
		<% end %>
		<table border="1">
			 	<thead>
			 		<tr>
			 			<td>Nombre</td>
			 			<td>Direccion</td>
						 <td>Edificio</td>
						 <td>Ciudad</td>
						 <td>Telefono</td>
						 <td>Email</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<% @contacts.each do |data| %>
			 		<tr>
			 			<td><%=data['name'] %></td>
						<td><%=data['direccion'] %></td>
						<td><%=data['edificio'] %></td>
						<td><%=data['ciudad'] %></td>
						<td><%=data['telefono'] %></td>
						<td><%=data['email'] %></td>
			 			<td><a href="/admin/create_contact/<%=data['id'] %>">Editar</a>
			 			</td>
			 		</tr>
			 		<% end %>
			 	</tbody>
		</table>
	</div>
	<h3>Modulos</h3>
	<div>
		<a href="create_module">Crear Modulo</a>
		<table border="1">
			 	<thead>
			 		<tr>
			 			<td>Nombre del Modulo</td>
			 			<td>Imagen Modulo</td>
			 			<td>Descripcion Corta</td>
			 			<td>Banner</td>
			 			<td>Sub Modulos</td>
			 			<td>Acciones</td>
			 		</tr>
			 	</thead>
			 	<tbody>
			 		<% @module_pages.each do |data| %>
			 		<tr>
			 			<td><%=data['name_module'] %></td>
			 			<td><img src="<%=data['imagen_min'] %>" width="100" height="100"></td>
			 			<td><%=data['description'] %></td>
			 			<td><img src="<%=data['img_banner'] %>" width="100" height="100"></td>
			 			<td><a href="/admin/sub_module/<%=data['id'] %>">Ver Sub modulos</a></td>
			 			<td><a href="/admin/create_module/<%=data['id'] %>">Editar</a>/
			 				<a href="/admin/delete_module/<%=data['id'] %>" onclick="return confirm('Desea eliminar este Modulo?')">Eliminar</a>
			 			</td>
			 		</tr>
			 		<% end %>
			 	</tbody>
		</table>
	</div>
</div>
