<h1>Adminstrador de contenido</h1>
<div id="accordion">
	<h3>Banner Home</h3>
	<div>
		<p><%= link_to "Agregar Banner",  "new_banner" %></p>
				<% HomeBanner.all.each do |homeb| %>
			<div>
				<td>Order </td><td> <%= homeb.order %></td>
			</div>
			<div>
				<td><%= image_tag("/images_banner/#{homeb.image}", size: '130x100') %></td>
			</div>
			<p><%= link_to "Eliminar",  "eliminar" %></p>
		<%end%>

	</div>

	<h3>Contactenos</h3>
	<div>
		<p><%= link_to "Agregar Contacts",  "new_contacts" %></p>
		<% Contact.all.each do |contact| %>
			<div>
				<%= contact.name %>
				<%= contact.direccion %>
				<%= contact.edificio %>
				<%= contact.ciudad %>
				<%= contact.telefono %>
				<%= contact.email %>
			</div>
		<%end%>
	</div>
	
		
</div>
