<!DOCTYPE html>
<html>
  <head>
    <title>Fundacion Prolongar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'jquery-ui', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript">var url = "<%=request.base_url%>/"</script>
    <script src="/assets/jquery.js"></script>
     <script src="/assets/jquery-ui.js"></script>
    <script src="/assets/application.js"></script>
    <script src="https://cdn.ckeditor.com/4.16.1/standard-all/ckeditor.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=STIX+Two+Text:ital@1&display=swap" rel="stylesheet">

    <nav class="navbar navbar-expand-lg mb-3">
        <div class="container-fluid collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-left" >
          </ul>
          <ul class="navbar-nav navbar-right">
            <% if session[:user_id] %>
                    <li class="nav-item"><a class="nav-link text-uppercase" href="/admin/index">Home</a></li>
                    <% if request.env['REQUEST_URI'].include? 'create_sub_module' %>
                        <li class="nav-item"><a class="nav-link text-uppercase" href="/admin/sub_module/<%=params[:module_page_id]%>">Sub modulo</a></li>
                    <% end %>
                    <li class="nav-item"><a class="nav-link text-uppercase" href="/login/logout">Cerrar Sesión</a> </li>
            <% end %>
          </ul>
        </div>
    </nav>
    
    
  </head>

  <body style="background-color: #fcf4e4;">